.d{
    background-color: coral;
    padding: 50px;
    text-align: center;
}
.japan{
    display: flex;
    justify-content: right;

}

table {
    width: 100%;
    border-collapse: collapse;
}
td,th {
    border: 1px solid black; 
    padding: 20px;
}

td {
    padding: 10px; 
    text-align: center; 
    height: 50px;
    color: black;
}